.header {
}
.header__autorisation {
}
.list-links-autorisation {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
    padding: 3px 0;
}
.list-links-autorisation__item {
}
.autorisation-link {
    font-family: "Pixelify Sans", sans-serif;
    color: var(--mainColorText);
    text-decoration: none;
}
.header__navigation {
    padding: 5px 0;
    background-image: url(../img/header/background-header.jpg);
}
.menu {
}
.external-link-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.external-link-list__item {
}
.logo {
}
.logo__img {
    max-width: 200px;
}
.internal-link-list {
    display: flex;
    column-gap: 20px;

}
.internal-link-list__item {
    
}
.another-link-page {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 5px;  
}
.another-link-page__picture {
    max-width: 100px;
}
.another-link-page__title {
    font-family: "Pixelify Sans", sans-serif;
    color: var(--mainColorText);
    font-size: 20px;
}

/* ===main */

.main {
    padding-top: 40px;
}
.base-description {

}

.base-description__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url(../img/main-page/main-page-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.base-description__preview {
    width: 90%;
    text-align: center;
    text-shadow: 4px 4px 3px #000 ;
}
.main-title {
    font-size: 40px;
    text-transform: capitalize;
    display: inline;
}
.base-description__text {
    font-size: 24px;
    display: inline;
}

.about-game__content {
    position: relative;
    height: 70vh;
}

/*========= slider ============*/
.slider {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.slick-list{
    overflow: hidden;
}

.slick-track {
    display: flex;
    column-gap: 10px;
}

.slider__slide {
    height: 300px;
    position: relative;
}

.slider__slide:hover .slider__image {
    transform: scale(0.9);
}

.slider__text {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 3px 3px 3px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}

.slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.slick-arrow {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow__icon {
    fill: #fff;
}

.slick-arrow svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    column-gap: 15px;
}

.slick-dots button { 
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.slick-active button { 
    background-color: green;
}


.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slider__slide {

}




/* ==============footer============ */

.footer{

}

.footer__content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    display: flex;
    column-gap: 15px;
    
}
.social-list__item {
}
.social-link {
    height: 40px;
    width: 40px;
    display: inline-block;
}

@media (hover:hover) {
    .social-link:hover .social-link__icon--minecraft {
        fill: green;
    }


    .social-link:hover .social-link__icon--vk {
        fill:  rgb(76, 117, 163);
    }

    .social-link:hover .social-link__icon--youtube {
        fill: rgb(255, 0, 0);
    }
}

.social-link__icon {
    fill: rgb(255, 255, 255);
    transition: 0.3s;
}

.footer__border-line {
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 15px 20px -15px #a1a1a1;
	width: 95%;
}


/* ===adaptive==== */
@media (max-width: 768px) {
    .another-link-page {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .external-link-list,
    .footer__content  {
        flex-direction: column;
        row-gap: 10px;
    }
    .slick-arrow {
        display: none !important;
    }
    .slider__text{
        font-size: 16px;
    }
    .slider {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .main-title {
        font-size: 32px;
    }
    .base-description__text {
        font-size: 18px;
        font-weight: 600;
    }
}

